.about-us {
  font-weight: 700;
}
.about-us__text{
  margin-top: 20px;
  margin-bottom: 0;
  @media (min-width: @tablet-width){
    margin-top: 0;
   }
}
.about-us.container{
  padding-top: 31px;
  @media (min-width: @tablet-width){
   padding-top: 55.5px;
   padding-bottom: 82px;
  }
  @media (min-width: @desktop-width){
    padding-top: 68px;
    padding-bottom: 90px;
   }
}

.about-us__title {
  margin: 0;
  margin-bottom: 0;
}
.about-us__list {
  .no-markers-list;
  margin: 0;
  @media (min-width: @tablet-width){
    display: grid;
    align-items: end;
    row-gap: 60px;
    column-gap: 70px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    margin-top: 57px;
  }

}

.about-us__item {
  @media (min-width: @tablet-width){
    height: 100%;
    font-size: 20px;
  }
  line-height: 20px;
  font-size: 17px;
  width: 100%;
  @media (min-width: @tablet-width){
  }
}
.about-us__icon{
  position: relative;
}
@media (min-width: @tablet-width){
  .about-us__icon.about-us__flower{
    left: 8px;
    bottom: 18px;
  }
  .about-us__icon.about-us__money{
    left: 0;
    bottom: 26px;
  }
  .about-us__icon.about-us__heart{
    left: 9px;
    bottom: 21px;
  }
  .about-us__icon.about-us__ball{
    left: 2px;
    bottom: 19px;
  }
  .about-us__icon.about-us__rocket{
    left: -9px;
    bottom: 28px;
  }
  .about-us__icon.about-us__present{
    left: 0;
    bottom: 21px;
  }

}



