.button {
  display: inline-block;
  padding: 16px 0 32px 0;
  text-align: center;
  border: 2px solid @tundora;
  height:20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: @tundora;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: @white;
}
