.catalog-preview{
  &__header{
  padding:73px 30px 120px 30px;
  margin:0;
  text-align: center;
  background-image: url('../img/hero_mobile.jpg');
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  }
  &__list{
    list-style-type:none;
    padding-left:0;
    margin:0;
  }
  &__link{
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    display:flex;
  }
  &__item{
    padding: 24px 160px 31px 30px;
  }
  &__item:nth-child(1){
    background-color: #63D1BB;
  }
  &__item:nth-child(2){
    background-color: #56C3B2;
  }
  &__link{
    color:#ffffff;
    text-decoration: none;
  }
}

