.catalog-preview__header {
  padding: 73px 30px 120px 30px;
  margin: 0;
  text-align: center;
  background-image: url("../img/hero_mobile.jpg");
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

.catalog-preview__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.catalog-preview__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  color: @white;
  text-decoration: none;
}

.catalog-preview__item {
  padding: 24px 160px 31px 30px;
}

.catalog-preview__item:nth-child(1) {
  background-color: @downy;
}

.catalog-preview__item:nth-child(2) {
  background-color: @fountain-blue;
}

