.contacts {
  margin-top: 71px;
  position: relative;
  color: @tundora;
  padding-top: 38px;
  @media (min-width: @tablet-width){
   margin-top: 131px;
  }
  @media (min-width: @desktop-width){
    width:fit-content;
    margin-left:  auto;
    max-width: 1050px;
    display:grid;
    grid-template-columns: 293px 50%;
    column-gap: 56px;
    margin-bottom: 105px;
  }

}
.contacts__list{
  @media (min-width: @tablet-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 51px;
    margin: 0;
  }
  @media (min-width: @desktop-width){
    grid-column: 1/2;
    grid-row: 2/3;
    display: block;

  }

}
.contacts__flag{
  display:none;
  @media (min-width: @tablet-width){
    display:block;
  }
  @media (min-width: @desktop-width){
    order:1;
  }
}
.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 0;
  @media (min-width: @desktop-width){
    font-size: 53px;
    line-height: 57px;
    grid-column: 1/2;
  }
  &:before{
    @media (min-width: @tablet-width){
      right: 50px;
      background-image: url("../img/flag.svg");
      position: absolute;
      width: 47px;
      height: 81px;
      content: "";
    }
    @media (min-width: @desktop-width){
      left: -111px;
    }
  }
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  margin-top: 28px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  @media (min-width: @tablet-width){
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    margin-top: 40px;
  }
}
.contacts__value{
  margin-inline-start: 0;
}
.contacts__email-link {
  color: @tundora;
  text-decoration: none;
  border-bottom: 1px solid  @downy;
  &:hover{
    color: @puerto-rico;
  }
  &:active{
    border:0;
  }
}

.contacts__map {
  margin-top: 62px;
  margin-bottom: 0;
  width: 100vw;
  margin-left: -30px;
  @media (min-width: @tablet-width){
    margin-left: -50px;
    margin-top: 49px;
    max-height: 457px;
  }
  @media (min-width: @desktop-width){
    margin: 0;
    max-width: 528px;
    grid-column: 2/3;
    grid-row: 1/4;
    max-height: 457px;
  }
}

.contacts__pin {
  position: absolute;
  bottom: 383px;
  left: 167px;
  @media (min-width: @desktop-width){
    grid-column: 2/3;
  }
}
.contacts__link{
  width: 100%;
  margin: 0;
}
.contacts__link-container{
  margin: 40px 0;
  @media (min-width: @tablet-width){
    width: 226px;
    margin: 55px auto;
   }
  @media (min-width: @desktop-width){
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 38px 70px 0 auto;
  }
}

