
.contacts .container {
  position: relative;
  color: @tundora;
<<<<<<< HEAD

  @media (max-width: @mobile-width-only) {
    background-image: url("../img/zigzag_line_desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 25px;
  }

  @media (min-width: @tablet-width) {
=======
  @media (max-width: @mobile-width-only){
    background-image: url("../img/zigzag_line_desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 45px;
  }
  @media (min-width: @tablet-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    background-image: url("../img/zigzag_line_desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 67px;
    padding-top: 50px;
  }
<<<<<<< HEAD

  @media (min-width: @desktop-width) {
    width: fit-content;
    margin-left: auto;
    max-width: 1050px;
    display: grid;
=======
  @media (min-width: @desktop-width){
    width:fit-content;
    margin-left:  auto;
    max-width: 1050px;
    display:grid;
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    grid-template-columns: 295px 50%;
    column-gap: 54px;
    background-image: url("../img/zigzag_line_desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    padding-top: 94px;
    padding-left: 175px;
    margin-bottom: 105px;
    margin-top: 49px;
  }
<<<<<<< HEAD
}

.contacts__list {
  @media (min-width: @tablet-width) {
=======

}
.contacts__list{
  @media (min-width: @tablet-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-top: 9px;
  }
<<<<<<< HEAD

  @media (min-width: @desktop-width) {
=======
  @media (min-width: @desktop-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 100%;
    margin-top: -20px;
    row-gap: 2px;
  }
<<<<<<< HEAD
=======

>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 0;
<<<<<<< HEAD


  @media (min-width: @desktop-width) {
=======
  @media (max-width: @mobile-width-only) and (max-width: @tablet-width){
    margin-top: 45px;
  }
  @media (min-width: @desktop-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    font-size: 53px;
    line-height: 57px;
    grid-column: 1/2;
    margin-top: 79px;
  }
<<<<<<< HEAD

  &::before {
    @media (min-width: @tablet-width) {
=======
  &:before{
    @media (min-width: @tablet-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
      top: 64px;
      right: 53px;
      background-image: url("../img/flag.svg");
      position: absolute;
      width: 47px;
      height: 81px;
      content: "";
    }
<<<<<<< HEAD

    @media (min-width: @desktop-width) {
=======
    @media (min-width: @desktop-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
      left: 63px;
      top: 156px;
    }
  }
}

.contacts__item {
<<<<<<< HEAD
  @media (max-width: @mobile-width-only) {
=======
  @media (max-width: @mobile-width-only){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    margin-top: 29px;
  }
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 78px 1fr;
<<<<<<< HEAD

  @media (min-width: @tablet-width) {
=======
  @media (min-width: @tablet-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    margin-top: 40px;
<<<<<<< HEAD
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.contacts__value {
  margin-inline-start: 0;
}
=======
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722

  }
  @media (min-width: @desktop-width){
    margin-top: 0;
  }
}
.contacts__value{
  margin-inline-start: 0;
}
.contacts__email-link {
  color: @tundora;
  text-decoration: none;
<<<<<<< HEAD
  border-bottom: 1px solid  @downy;
  padding-bottom: 2px;

  @media (min-width: @desktop-width) {
    padding-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 7px;
  }

  &:hover {
    color: @puerto-rico;
  }

  &:active {
    border: 0;
=======
  @media (min-width: @desktop-width){
    border-bottom: 1px solid  @downy;
  }
  padding-bottom: 8px;
  &:hover{
    color: @puerto-rico;
  }
  &:active{
    border:0;
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
  }
}

.contacts__map {
  margin-top: 62px;
  margin-bottom: 0;
<<<<<<< HEAD
  display: block;

  @media (max-width: @mobile-width-only) {
=======
  display:block;
  @media (max-width: @mobile-width-only){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    width: 100vw;
    margin-left: -30px;
    height: 454px;
  }
<<<<<<< HEAD

  @media (min-width: @tablet-width) {
=======
  @media (min-width: @tablet-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    margin-left: -50px;
    margin-top: 49px;
    width: 100vw;
    height: 457px;
  }
<<<<<<< HEAD

  @media (min-width: @desktop-width) {
=======
  @media (min-width: @desktop-width){
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
    margin: 0;
    max-width: 528px;
    grid-column: 2/3;
    grid-row: 1/4;
    max-height: 457px;
  }
}
<<<<<<< HEAD

=======
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
.contacts iframe {
  border: none;
  display: block;
}

.contacts__pin {
  position: absolute;
  bottom: 383px;
  left: 167px;
<<<<<<< HEAD

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
  }
}

.contacts__link {
  width: 100%;
  margin: 0;

  @media (min-width: @desktop-width) {
    padding: 0 27px;
  }
}

.contacts__link-container {
  margin: 40px 0;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 55px auto;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto 0 0 0;
  }
=======
  @media (min-width: @desktop-width){
    grid-column: 2/3;
  }
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
}
.contacts__link{
  width: 100%;
  margin: 0;
  @media (min-width: @desktop-width){
    padding: 0 27px;
  }
}
.contacts__link-container{
  margin: 40px 0;
  @media (min-width: @tablet-width){
    width: 230px;
    margin: 55px auto;
   }
  @media (min-width: @desktop-width){
  grid-column: 1/2;
  grid-row: 3/4;
  margin: auto 0 0 0;
  }
}

