.copyright__header {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin-right: 27px;
  
}
.copyright{
  display:flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: @mobile-width-only){
    width: 180px;
    margin: 0 auto;
    margin-top: 22px;
  }
}
.copyright__link{
  height: 35px;
}
