.form__description{
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @tundora;
  margin-bottom: 0px;
  margin-top: 17px;
}

.form__fieldset{
  margin-top: 34.5px;
  margin-bottom: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-color: @downy-border;
}

.form__legend{
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color:@downy;
}

.form__label{
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 24px;
}

.form__contacts-input,.form__textarea{
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form__contacts-input{
  height: 52px;
}

.form__explanation{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__button{
  font-family: "Open Sans", "Arial", sans-serif;
  display: inline-block;
  padding: 16px 0;
  text-align: center;
  border: 2px solid @tundora;
  width: 260px;
  margin-bottom: 39px;
  margin-top: 42px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color:@tundora;
  background-color: @white;
}
