.main-footer {
  padding: 25px 30px;
  background-color: @seashell;

  @media (min-width: @tablet-width) {
    display:flex;
    justify-content: space-between;
    padding-top: 52px;
    padding: 50px 50px;
  }
}
.main-footer__logo-tablet{
  display:none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}
