.main-footer {
  background-color: @seashell;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width){
    padding-top: 47px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 45px;
    padding-bottom: 59px;
  }
}
.main-footer__logo-tablet{
  display:none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}
.main-footer__container{
  padding: 25px 30px;
  @media (min-width: @tablet-width) {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding: 45px 50px;
  }
}
