.main-header{
  height: 79px;
    
  @media (min-width: @tablet-width){
    height: 89px;
  }
}
.main-header__logo {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  height: fit-content;
  width: fit-content;
  @media (min-width: @tablet-width) {
    display: flex;
    align-self: center;
    width: 50%;
    margin-left:0;
    margin-right: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  @media(min-width: @desktop-width){
    display:none;
  }
}
.main-header__logo-mobile{
  @media(min-width: @tablet-width){
    display:none;
  }
}
.main-header__logo-tablet{
  display: none;
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display:block;
  }
}


