.production-process{
  margin-bottom:0px;
  margin-top:30px;
  &__title{
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    margin:0px;
  }
  &__img{
    margin-top:26.5px;
    margin-bottom:0px;
  }
  &__description{
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color:#444444;
    margin-top:35px;
    margin-bottom:0px;
  }
  &__video-link{
    text-decoration: none;
    color:#444444;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    position: relative;
  }
  &__play-icon{
    position: absolute;
    bottom: 40px;
    right: 70px;
  }
  &__link{
    display: inline-block;
    padding:16px 0;
    text-align: center;
    border:2px solid #444444;
    width:260px;
    margin-bottom:33px;
    margin-top:41px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color:#444444;
  }
}
