.production-process {
  margin-bottom: 0;
  margin-top: 30px;
}

.production-process__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.production-process__img {
  margin-top: 26.5px;
  margin-bottom: 0;
}

.production-process__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @tundora;
  margin-top: 35px;
  margin-bottom: 0;
}

.production-process__video-link {
  text-decoration: none;
  color: @tundora;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  position: relative;
}

.production-process__play-icon {
  position: absolute;
  bottom: 40px;
  right: 70px;
}
