<<<<<<< HEAD
.news-list {
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: flex-end;
    order: 4;
    font-size: 15px;
    line-height: 24px;
    width: 50%;
  }
  flex-wrap: wrap;
  max-height: 96px;
  overflow: hidden;
}

.news-list__item {
  @media (min-width: @tablet-width) {
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 61px;
  }
}

.news-list__link {
=======
.news-list{
  @media (min-width: @desktop-width){
    display:flex;
    align-items: flex-end;
    order:4;
    font-size: 15px;
    line-height: 24px;
    width: 400px
    }
}

.news-list__item{
  @media (min-width: @tablet-width){
    padding-right: 30px;
  }
  @media (min-width: @desktop-width){
    padding-right: 61px;
  }

}
.news-list__link{
>>>>>>> b61aa640b17c8376b8f14234ae932d537247d722
  font-size: 15px;
  line-height: 24px;
}
