.site-list {
  @media (max-width: @mobile-width-only) {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    order: 2;
    font-size: 15px;
    line-height: 24px;
    margin-top: 21px;
    width: 50%;
    max-height: 96px;
    overflow: hidden;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    font-size: 17px;
    line-height: 24px;
    margin-top: 0;
    max-width: 40%;
  }
}

.site-list__item {
  @media (max-width: @mobile-width-only) {
    padding-left: 76px;
  }

  @media (min-width: @tablet-width) {
    &:nth-child(1) {
      padding-right: 37px;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(1) {
      padding-right: 35px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    &:nth-child(2) {
      padding-left: 35px;
    }
    height: 100%;
  }
}

