.user-list{
  @media (min-width: @tablet-width){
  display:flex;
  align-items: center;
  order:1;
  height: 89px;
  }
  @media (min-width: @desktop-width){
    order:3;
  }
}
.user-list__item{
  @media (min-width: @tablet-width){
    height: 100%;
    display: flex;
  }
}
  
.user-list__icon{
  box-sizing: content-box;
  padding: 0 30px;
}
.user-list__search{
  @media (min-width: @tablet-width){
    border-left: 1px solid rgba(0, 0, 0, 0.1);   
    border-right: 1px solid rgba(0, 0, 0, 0.1); 
}
 
}
.user-list__container{
  @media (min-width: @tablet-width){
  display:none;
  }
}
