@white: #ffffff;
@black: #000000;
@tundora: #444444;
@downy: #63D1BB;
@downy-border:#62D1BA;
@fountain-blue:#56C3B2;
@seashell:#f1f1f1;
@gallery: #ececec;
@mercury: #e5e5e5;
@puerto-rico: #46C1AE;
@fonts: "Open Sans", "Arial", sans-serif;
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

